</div>
<footer class="blog-footer">
    <p>Application built for <a href="https://leverx.ru">LeverX</a> by <a href="https://github.com/Squarix">@Squarix</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
</body>
</html>